*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-size: 16px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1{
    font-size: 3rem;
    font-weight: 700;
}

p{
    font-size: 1.5rem;
    font-weight: 300;
}

section{
    /* margin-top: 100px; */
}

img{
    width: 100%;
    height: 100%;
}





header{
    display: flex;
    height: 15vh;
    justify-content: space-between;
    margin-top: 1rem;  
    background: rgba(255, 255, 255, 0.37);  
}

.logo{
    margin-left: 50px;
    width: 100px;
    height: 100px;
}

nav{
    width: 70%;
    margin-top: 2rem;  
}

.nav-list{
    display: flex;
    justify-content: space-around;
}

.nav-list li{
    font-size: 1.4rem;
}

.nav-list a{
    color: #000;
}

.nav-list a:hover{
    color: brown;
}

.header-carousel{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.slider{
    position: relative;    
    width: 100vw;
    height: 100vh;
}

.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;  
    visibility: hidden;
}

.current{
    visibility: visible;
}

.slide h1{
    z-index: 2000;
    position: absolute;
    background: rgba(128, 128, 128, 0.637);
    animation: titleUp 4.2s ease-in-out .09s infinite forwards;
    top: 100%;
    left: 40%;
    padding: 1rem;
}

.balls{
    width: 200px;
    height: 70px;
    position: absolute;
    top: 80%;   
    left: 40%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.ball{
    background: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.current-ball{
    background: rgb(141, 17, 17);
}

#prev-btn{
    position: absolute;
    top: 50%;
    left: 1%;
}

#next-btn{
    position: absolute;
    top: 50%;
    right: 1%;
}

.buttons button{
    padding: 20px 30px; 
    background: transparent;        
    color: #ffffff;
}




.build{
    margin-top: 600px;
}

.build h1, .build h2{
    color: crimson;
}

.build h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.build h2{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
} 

.build p{
    font-size: 1.5rem;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 500px);
    width: 85%;
    margin: 0 3rem;
    grid-gap: 3em;
    padding: 1rem 1rem;
}

.grid-box{
    width: 500px;
    height: 300px;
    margin: 0 auto;     
}